

<%= javascript_include_tag "movies" %>

<h1>The Movies</h1>

<div class="container" data-ng-app="movies">

<main data-ui-view></main>
  </div>







<% @movies.each do |movie| %>
  <div class="movie">
    <h3><%= link_to movie.title, movie %> (<%= movie.opening%>)</h3>
    <p>Publisher: <%= movie.publisher.name if movie.publisher %></p>
    <%= link_to (image_tag movie.image), movie %>
</div>

<% end %>
