<h1>SIDE edveowrnvwroinPAGE!</h1>

<div class="container" data-ng-app="movies">

<main data-ui-view></main>
  </div>


<h1><%= @movie.title %></h1>
<p>Directed by <%= @movie.director.name %></p>
<p><%= image_tag @movie.image %></p>
Released in <%= @movie.opening%> by <%= @movie.publisher.name %> Comics with a budget of <%= @movie.budget %>.
<p><%= @movie.synopsis %></p>
<div>
  <h2>Director:</h2>
    <div class="actor">
      <h3><%= @movie.director.name %></h3>
      <%= image_tag @movie.director.image %>
    </div>

  <h2>Actors:</h2>
  <% @movie.actors.each do |actor| %>
    <div class="actor">
      <h3><%= actor.name %></h3>
      <%= image_tag actor.image %>
    </div>
  <% end %>
</div>
