<!-- <div class="publishershow"><%= image_tag @publisher.image %></div> -->
<p></p>
  <div id="publisher">
    <% @publisher.movies.each do |movie| %>
      <div class="movie">
        <h3><%= link_to movie.title, movie %> (<%= movie.opening%>)</h3>
        <%#= link_to (image_tag movie.image), movie %>
        <a href="/movies/<%=movie.id%>/#/<%=movie.id%>" >
          <%= image_tag movie.image %>
        </a>
      </div>
    <% end %>
  </div>
  <h2> <%= link_to "Add Movie", new_movie_path %> </h2>
